.advantages {
  padding-top: 32px;
  text-transform: uppercase;
}

.advantages__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 24px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    max-width: 550px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

.advantages__lead {
  margin: 0;
  margin-bottom: 35px;
}

.advantages__text {
  margin: 0;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  padding: 24px 33px;
  background-color: $color-background-advantage;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
  }

  &--image {
    padding: 0;
    color: $one-color;
    background-color: $color-background;

    @media (min-width: $tablet-width) {
      grid-column: -1/1;
    }
  }
}
