.advantages {
  width: auto;
  padding-top: 34px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}

.advantages__wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 24px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}

.advantages__lead {
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.advantages__text {
  margin: 0;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
  padding: 24px 33px;
  background-color: $color-background-advantage;

  &:first-child {
    @media (max-width: $mobile-width-only) {
      background-image: url("../../img/whitecopy.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top 0 center;
    }
  }

  @media (max-width: $mobile-width-only) {
    &--theme-gray:not(:last-child) {
      &::after {
        position: absolute;
        bottom: 0;
        left: 18px;
        right: 18px;
        width: auto;
        height: 1px;
        background-color: $color-theme-gray;
        content: "";
      }
    }

    &:last-child {
      padding-top: 25px;
      padding-bottom: 28px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
  }

  &--image {
    padding: 0;
    color: $one-color;
    background-color: $color-background;

    @media (min-width: $tablet-width) {
      grid-column: -1/1;
    }
  }
}
