@use "../sass/variables.scss";

.advantages {
  padding-top: 32px;
  text-transform: uppercase;
}

.advantages__wrapper {
  padding: 0 24px;
  margin-bottom: 32px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 124px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 397px;
  }
}

.advantages__lead {
  margin: 0;
  margin-bottom: 35px;
}

.advantages__text {
  margin: 0;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  padding: 24px 32px;
  background-color: variables.$color-background-advantage;

  &--theme-grey {
    @media (min-width: variables.$tablet-width) {
      width: 256px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 400px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 256px;
    padding: 41px 33px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 52px 50px;
  }

  &--image {
    padding: 0;
    background-color: variables.$color-background;

    @media (min-width: variables.$tablet-width) {
      padding: 0;
    }
  }
}
