.advantage {
  text-align: center;
}

.advantage__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantage__wrapper {
  padding: 38px 18px;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 21px;
  }

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
}

.advantage__number {
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantage__description {
  margin: 0;
}

.advantage__picture {
  &--town {
    @media (min-width: $tablet-width) {
      grid-column: 2/4;
    }
  }

  &--bridge {
    @media (min-width: $tablet-width) {
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }
}

.advantage__image {
  display: block;
  width: 100%;
  min-width: 320px;
  height: 260px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantage__service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $one-color;
}
