.advantage {
  text-align: center;
}

.advantage__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &--town {
    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 2fr;
    }
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 11px;
    font-size: 21px;
  }
}

.advantage__number {
  margin-bottom: 17px;
}

.advantage__description {
  margin: 0;
}

.advantage__image {
  display: block;
  object-fit: contain;
}

.advantage__service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $one-color;
}
