.contacts {
  padding: 0;
  padding-bottom: 8px;
  background-color: $color-bg-under;
  background-image: url("../img/map-mobile.jpg");
  background-size: 320px 350px;
  background-position: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-size: 768px 350px;
  }

  @media (min-width: $desktop-width) {
    background-size: 1200px 350px;
  }
}

.contacts iframe {
  width: 100%;
  border: none;
  display: block;
}
