.contacts {
  background-color: $color-bg-under;
  background-image: url("../img/map-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts iframe {
  border: none;
  display: block;
}
