.controls__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }

  &--impression {
    @media (min-width: $tablet-width) {
      gap: 36px 16px;
      margin-left: 36px;
      margin-right: 36px;
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-between;
      margin-bottom: 85px;
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--sight {
    @media (min-width: $tablet-width) {
      gap: 36px 32px;
      margin-left: 84px;
      margin-right: 84px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      gap: 64px;
      margin-left: 44px;
      margin-right: 44px;
      margin-bottom: 82px;
    }
  }
}

.controls__item {
  @media (max-width: $mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 36px;
    }

    &:last-child {
      margin-bottom: 34px;
    }
  }
}
