.contacts {
  padding: 0;
  padding-bottom: 8px;
  background-color: $one-color;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.contacts iframe {
  display: block;
  width: 100%;
  border: none;
}

.contacts__image {
  display: block;
  object-fit: cover;
}
