.control {
  position: relative;
  display: block;
  padding-left: 62px;
}

.control__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $two-color;
}

.control__mark {
  position: absolute;
  top: -10px;
  left: 0;
  bottom: 0;
  width: 46px;
  height: 46px;
  background-color: $color-bg-body;
  border-radius: 4px;
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 16px;
  height: 16px;
  background-color: $three-color;
  border-radius: 50%;
  content: "";
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  content: "";
}

.control__mark:hover {
  background-color: $color-bg-disabled;
}

.control__input:focus + .control__mark {
  outline: 2px solid $two-color;
}

.control__mark:disabled {
  opacity: 0.1;
}

.control__mark:active::before {
  background-color: $color-radio-down;
  opacity: 0.3;
}
