.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $two-color;

  &:hover {
    color: $color-background;
  }

  &:active {
    color: $color-academy-active;
  }
}

.copyright__text {
  width: 70%;
  margin-right: 12px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}

.copyright-icon {
  width: 30%;
}
