.form__contact {
  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 58px;
    margin-bottom: 11px;

    &::after {
      position: absolute;
      top: -7px;
      left: 50%;
      width: 1px;
      min-height: 338px;
      content: "";
      background-color: $color-form-line;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 100px;
    margin-bottom: 18px;
  }
}

.form__group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &:first-child {
    padding-bottom: 23px;
  }

  &--line {
    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        left: 0;
        top: 25px;
        width: 19%;
        height: 1px;
        content: "";
        background-color: $color-form-line;
      }

      &::after {
        position: absolute;
        right: 0;
        top: 25px;
        width: 19%;
        height: 1px;
        content: "";
        background-color: $color-form-line;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        width: 29%;
      }

      &::after {
        width: 29%;
      }
    }
  }
}

.form__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 25px;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      width: auto;
      height: 1px;
      background-color: $color-bg-disabled;
      content: "";
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    padding: 0;
  }

  &--controls {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 55px;
    }
  }

  &--sight {
    @media (min-width: $desktop-width) {
      margin-bottom: 68px;
    }
  }

  &--line {
    @media (min-width: $tablet-width) {
      padding-top: 14px;
    }
  }
}

.form__info {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form__label {
  padding-left: 16px;
  text-transform: uppercase;
  color: $three-color;
}

.form__input {
  width: auto;
  margin-bottom: 16px;
  padding: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $two-color;
  background-color: $color-bg-body;
  border: transparent;

  &::placeholder {
    color: $color-placeholder;
  }

  &--phone {
    position: relative;

    background-image: url("../img/tel.svg");
    background-repeat: no-repeat;
    background-size: 58px 58px;
    background-position: top right;

  }

  &--mail {
    position: relative;

    margin-bottom: 34px;
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-size: 58px 58px;
    background-position: top right;
  }

  &--comment {
    width: 100%;
    min-height: 150px;
    margin-bottom: 49px;
    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 160px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      max-width: 768px;
      margin-left: 94px;
      margin-right: 94px;
    }
  }

  &:hover {
    background-color: $color-bg-disabled;
  }

  &:active {
    background-color: $one-color;
    border-color: $color-bg-disabled;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 94px;
    padding-right: 94px;
  }
}

.form__button {
  width: 100%;
  max-width: 324px;
  margin-bottom: 3px;
  align-self: center;

  @media (min-width: $desktop-width) {
    max-width: 384px;
  }
}

.form__footnote {
  align-self: flex-end;
  font-size: 12px;
  text-transform: uppercase;
  color: $color-footnote;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    padding-top: 23px;
    font-size: 14px;
  }
}
