.hero {
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: $color-bg-under;
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-position: bottom 0 center, center;
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
}

.hero__slogan {
  display: block;
  margin: 0 auto;
}
