.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $color-placeholder;
  z-index: 20;

  &--sent {
    display: none;
  }

  &--error {
    display: none;
  }
}

.modal__review {
  position: relative;
  margin: auto;
  background-color: $one-color;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--error {
    padding: 45px 42px 35px;

    @media (min-width: $tablet-width) {
      padding: 48px 48px 49px 47px;
    }
  }
}

.modal__text {
  padding: 39px 52px 50px;

  @media (min-width: $tablet-width) {
    padding: 44px 97px 48px;
    min-width: 320px;
    width: 100%;
    max-width: 640px;
  }

  &--error {
    padding: 0;
    min-width: 237px;
    max-width: 305px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__description {
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  &--sent {
    width: 100%;
    min-width: 244px;
    max-width: 444px;
  }

  &--error {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 44px;
    }
  }
}

.modal__wrapper {
  padding: 20px;
  background-color: $color-bg-body;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}

.modal__button {
  margin: 0 auto;
  padding: 18px 40px 14px;
  width: 280px;
  font-size: 18px;


  @media (min-width: $tablet-width) {
    width: 458px;
    font-size: 21px;
  }

  &--error {
    width: 180px;

    @media (min-width: $tablet-width) {
      width: 272px;
      font-size: 21px;
    }
  }
}
