.photo {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
  }
}

.photo__image {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  align-self: center;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 23px 20px 15px;
    background-color: $color-bg-body;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 22px 20px 15px 21px;
    background-color: $color-placeholder;
  }

  &--small {
    @media (min-width: $desktop-width) {
      padding: 17px 20px 17px 25px;
    }
  }
}

.photo__subtitle {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: $two-color;

  @media (min-width: $desktop-width) {
    color: $one-color;
  }
}

.photo__autor {
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    color: $one-color;
  }
}

.photo__likes {
  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }
}

.photo__button {
  display: flex;
  padding: 0;
  min-width: 50px;
  height: 26px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-academy-active;
  }

  &:active {
    background-color: $color-bg-down;
  }
}

.photo__icon {
  fill: $color-placeholder;

  @media (min-width: $desktop-width) {
    fill: $one-color;
  }
}

.photo__quantity {
  align-self: flex-end;
  margin-left: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $two-color;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
  }


  @media (min-width: $desktop-width) {
    color: $one-color;
  }
}
