@use "../variables.scss";

.photo {
  width: 320px;
  padding: 24px 20px 25px;
}

.photo__image {
  display: block;
  margin-bottom: 15px;
}

.photo__subtitle {
  margin: 0;
  text-transform: uppercase;
  color: variables.$two-color;
}

.photo__autor {
  margin: 0;
  margin-bottom: 11px;
}

.photo__likes {
  font-weight: 700;
  text-transform: uppercase;
  color: variables.$two-color;
}

