.photos {
  width: 320px;
  padding-top: 30px;
}

.photos__wrapper {
  margin: 0 auto 25px;
  padding: 0 20px;
  text-align: center;
}

.photos__title {
  margin: 0;
  margin-bottom: 25px;
}

.photos__lead {
  text-transform: uppercase;
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
