.photos {
  width: auto;
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 67px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 67px;
  }
}

.photos__wrapper {
  text-align: center;
  margin-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 67px;
  }
}

.photos__title {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.photos__lead {
  text-transform: uppercase;
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photos__item {
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      width: auto;
      height: 1px;
      background-color: $color-bg-disabled;
      content: "";
    }
  }

  &:last-child {
    position: relative;

    @media (max-width: $mobile-width-only) {
      &::after {
        position: absolute;
        bottom: 0;
        left: -20px;
        right: -20px;
        width: auto;
        height: 1px;
        background-color: $color-bg-disabled;
        content: "";
      }
    }
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      grid-column: -1/1;
    }
  }
}
