.search {
  padding: 39px 18px 49px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {

    padding: 60px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.search__wrapper {
  width: auto;
  max-width: 435px;
  margin: 0 auto;
}

.search__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $two-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    line-height: 28px;
  }
}

.search__text {
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.search__button {
  width: auto;
  margin: 0 auto;
  max-width: 284px;

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}
