.services {
  background-color: $one-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.services__item {
  padding: 23px 18px 10px 65px;

  @media (min-width: $tablet-width) {
    min-height: 331px;
    padding: 157px 33px 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 330px;
    padding: 166px 50px 70px;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.services__description {
  text-align: left;
  color: $three-color;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
