.services {
  padding-top: 23px;
}

.services__item {
  width: 320px;
  padding-left: 65px;
  padding-right: 18px;
}

.services__title {
  margin-bottom: 16px;
  text-align: left;
}

.services__description {
  text-align: left;
}
