.services {
  background-color: $one-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.services__item {
  padding: 31px 18px 2px 65px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: left 18px top 23px;

  &:last-child {
    @media (max-width: $mobile-width-only) {
      padding-bottom: 46px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 331px;
    padding: 157px 33px 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 330px;
    padding: 169px 50px 70px;
  }

  &--housing {
    background-image: url("../img/icon-house.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-house-tablet.svg");
      background-size: 78px 72px;
      background-position: center 60px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/icon-house-desktop.svg");
      background-size: 81px 73px;
      background-position: center 68px;
    }
  }

  &--food {
    background-image: url("../img/icon-burger.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-burger-tablet.svg");
      background-size: 82px 68px;
      background-position: center 62px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/icon-burger-desktop.svg");
      background-size: 74px 69px;
      background-position: center 72px;
    }
  }

  &--souvenir {
    background-image: url("../img/icon-gift.svg");

    @media (min-width: $tablet-width) {
      padding-top: 154px;
      background-image: url("../img/icon-gift-tablet.svg");
      background-size: 67px 75px;
      background-position: center 64px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 170px;
      background-image: url("../img/icon-gift-desktop.svg");
      background-size: 78px 76px;
      background-position: center 69px;
    }
  }
}

.services__title {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.services__description {
  margin: 0;
  text-align: left;
  color: $three-color;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.services__space {
  &::after {
    @media (min-width: $tablet-width) {
      content: "\A";
      white-space: pre;
    }
  }
}
