.social {
  min-width: 156px;
  align-self: center;
}

.social__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: $color-background;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--vkontakte::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    background-image: url("../img/vk.svg");
    content: "";
  }

  &--telegram::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 22px;
    height: 18px;
    background-image: url("../img/telegram.svg");
    content: "";
  }

  &--youtube::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    background-image: url("../img/youtube.svg");
    content: "";
  }

  &:hover {
    background-color: $color-bg-hover;
  }

  &:active {
    background-color: $color-bg-down;
  }
}

.social__link--vkontakte:active::after,
.social__link--telegram:active::after,
.social__link--youtube:active::after {
  opacity: 0.3;
}
