@use "../variables.scss";

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$two-color;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}
