.video {
  padding: 17px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 56px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 201px 84px 199px;
  }
}

.video-wrapper {
  max-width: 460px;
  margin: 0 auto 42px;
  padding-left: 8px;
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 88px;
  }
}

.video__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    font-size: 30px;
  }
}

.video__lead {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.video__link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.video__image {
  display: block;
  width: 280px;
  height: 177px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  background-color: transparent;
  background-image: url("../img/polygon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
