.video {
  padding: 17px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 62px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px 201px 84px 199px;
  }
}

.video-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.video__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__lead {
  margin-bottom: 38px;
  text-align: center;
  text-transform: uppercase;
}

.video__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.video__image {
  display: block;
  width: 280px;
  height: 177px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
