.video {
  padding: 17px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 62px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px 201px 84px 199px;
  }
}

.video-wrapper {
  padding-left: 8px;
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin: 0 auto;
  }
}

.video__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__lead {
  margin-bottom: 38px;
  text-align: center;
  text-transform: uppercase;
}

.video__link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;

  &::before {
    position: absolute;
    top: 62px;
    left: 116px;
    width: 48px;
    height: 54px;
    content: "";
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 223px;
      left: 300px;
    }

    @media (min-width: $desktop-width) {
      left: 376px;
    }
  }
}
