$one-color: #ffffff;
$two-color: #000000;
$three-color: #333333;
$color-background: #81b3d2;
$color-form: #f2f2f2;
$color-form-second: #e6e6e6;
$color-current: #766357;
$color-bg-hover: #669ec0;
$color-bg-down: #5496bd;
$color-bg-disabled: #e5e5e5;
$color-academy-active: #b3b3b3;
$color-bg-under: #b7b4b4;
